@import "~antd/dist/antd.dark.css";

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-progress-inner {
  height: 20px;
}
.ant-progress-bg {
  height: 100% !important;
}

.combination-mask {
  background-color: rgba(200, 200, 200, 0.1);
}
